.videoPlayer_bottom {
  display: grid;
  grid-template-rows: 20px 1fr;
}
.videoPlayer_controls_manipulator {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 0 0 18px;
  .videoPlayer_controls_buttons {
    display: flex;
    align-items: flex-end;
    padding: 0 0 6px 0;
    height: 100%;
    .videoPlayIcon {
      font-size: 1.1rem;
      padding: 1px;
      cursor: pointer;
    }
    .videoBackToStart {
      font-size: 0.8rem;
      padding: 4px;
      margin: 0 1px 0 9px;
      cursor: pointer;
    }
  }
  .video_timebase_number_container {
    display: flex;
    align-items: flex-end;
    word-break: unset;
    word-wrap: none;
    white-space: nowrap;
    height: 100%;
    padding: 0 13px 11px 13px;
    font-size: 0.83rem;
    .video_timebase_number {
      display: flex;
    }
    .video_time_slash {
      padding: 0 0 1.3px 0;
    }
    .video_end_time {
      display: flex;
    }
  }
  .videoPlayer_controls_volume {
    display: flex;
    align-items: flex-end;
    padding: 0 2px 0 2px;
    height: 100%;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.05, 0.95, 0.58, 1);
    .videoVolumeIcon {
      font-size: 0.9rem;
      padding: 3px 4px 5px 4px;
      margin: 0 4px 5px 2px;
      cursor: pointer;
    }
    .video_volume_bar_wide {
      display: flex;
      height: 20px;
      width: 80px;
      overflow: hidden;
      margin: 0 0 7px 0;
      position: relative;
      align-items: center;
      cursor: pointer;
      .video_volume_bar {
        display: flex;
        height: 14px;
        width: 100%;
        background-color: rgba(223, 230, 233, 0.4);
        .video_volume_bar_value {
          height: 100%;
          width: 40px;
          background-color: #fafafa;
        }
      }
    }
  }
  .videoVolumeBarHide {
    width: 38px;
  }
  .videoVolumeBarShow {
    width: 120px;
  }
  .video_tool_box {
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-width: 60px;
    .video_native_fullscreen {
      display: flex;
      padding: 3px;
      margin: 1px 14px 0 0;
      font-size: 1.18rem;
      cursor: pointer;
    }
    .video_info_memory {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
    }
    .video_resize_handle {
      position: absolute;
      align-self: flex-end;
      width: 12px;
      height: 12px;
      border-right: 4px solid rgba(223, 230, 233, 0.6);
      border-bottom: 4px solid rgba(223, 230, 233, 0.6);
      cursor: nw-resize;
    }
  }
}
