.video_time_navigation {
  display: flex;
  position: relative;
  height: 100%;
  width: calc(100% - 6px);
  .video_time_navigate_number {
    display: none;
    position: absolute;
    height: 100%;
    align-items: center;
    white-space: nowrap;
  }
}
.videoPlayer_controls_timebase_padding {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0 10px 0 10px;
  .videoPlayer_controls_timebase {
    display: flex;
    height: 100%;
    width: 100%;
    .video_timebase_bar_container {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      width: 100%;
      cursor: pointer;
      &:hover {
        .video_timebase_bar_handle {
          width: 12px;
          height: 12px;
        }
        .video_timebase_bar {
          transform: scaleY(1.6667);
        }
      }
      .video_timebase_bar {
        display: flex;
        position: relative;
        height: 3px;
        width: 100%;
        background-color: rgba(223, 230, 233, 0.3);
        transition-property: transform;
        transition-duration: 0.08s;
        transition-timing-function: ease-out;
        .video_timebase_bar_value {
          height: 100%;
          position: absolute;
          background-color: #fafafa;
          transform-origin: 0 0;
        }
        .video_timebase_bar_buffer {
          height: 100%;
          position: absolute;
          background-color: rgba(223, 230, 233, 0.5);
          transform-origin: 0 0;
        }
      }
      .video_timebase_bar_handle {
        display: inline-block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: #fafafa;
        left: 0px;
        transition-property: width, height;
        transition-duration: 0.06s;
        transition-timing-function: linear;
      }
    }
  }
}
